
.popular {
    width: 293px;
    height: 41px;

    font-weight: 700;
    font-size: 27px;
    line-height: 150%;
}
.card {
    width: 212px;
    height: 360px;
}
.card-img-top {
    width: 211.83px;
    height: 283px;
}
.btn  {
    margin-top: 160px;
    margin-left: 0px;
}
.prise {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    }
.card-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}
.prise {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}
.card-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}
.last_size {
    color: red;
}
.heart {
    font-size: 30px;
    text-align: right;
    color: rgb(192, 189, 189);
    padding: 0.2rem 0.2rem;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    transition: color 9999999s;
}