.main_section__discount {
  background-image: url(../images/discount-pic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.main_section__man {
  background-image: url(../images/men-collection.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  max-width: 694px;
}

.main_section__woman {
  background-image: url(../images/women-collection.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  max-width: 694px;
}

.main_section__popular {
  background-image: url(../images/popular.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.main_section__popular_text {
  padding: 10px;
}

.main_section__discount_text {
  padding: 10px;
}

.container {
  font-family: PT Root UI, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
}

.main_section__collection-text {
  color: #373737;
}

.main_section__height1 {
  height: 40rem;
}

.main_section__height2 {
  height: 20rem;
}

.br0 {
  border-radius: 0px !important;
}

@media screen and (max-width: 768px) {
  .main_section__man {
    background-image: url(../images/men.jpg);
    height: 20rem;
  }
  .main_section__woman {
    background-image: url(../images/women-collection-mobile.jpg);
    height: 20rem;
  }
  .main_section__popular {
    background-image: url(../images/popular-mobile.jpg);
    min-width: 360px;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
  }
  .main_section__discount {
    background-image: url(../images/discount-pic-mobile.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
  }
  .main_section__collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .main_section__men-text {
    text-align: center;
  }
  .main_section__woman-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  .main_section__man {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .main_section__woman {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=main_section.css.map */